{% extends "/base.html" %}
{% block titile %} HomePage {% endblock %}

{% block content %}
<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card border-dark">
                    <div class="card-header bg-dark">
                        <h1 class="card-title text-center text-white">
                            INTRODUCCIÓN A LA METAHEURÍSTICA ACO.
                        </h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-dark text-justify">
                            En los últimos años, se ha venido desarrollando una nueva técnica metaheurística de
                            inspiración biológica que se basa en el comportamiento real de las hormigas
                            naturales para la resolución de problemas de optimización combinatoria. Esto es debido
                            a que, por desgracia, los algoritmos de búsqueda local presentan facilidad para
                            estancarse en óptimos locales, que globalmente no son buenas soluciones.
                        </p>
                        <p class="card-text text-dark text-justify">
                            Por ello, en
                            las últimas décadas investigadores en este tipo de técnicas de optimización, se han
                            implicado en desarrollar algoritmos que mejoren la efectividad de los métodos de
                            búsqueda local basándose en la heurística para la construcción de soluciones, es
                            decir, la meta heurística.
                        </p>
                        <p class="card-text text-dark text-justify" >
                            Su origen se remonta a 1989 de la mano de Goss, Aron, Deneubourg y Pasteels,
                            quienes realizaron un estudio sobre el comportamiento colectivo de las hormigas
                            argentinas. Este estudio será el origen e inspiración de lo que se conoce como
                            algoritmos de optimización de colonias de hormigas. En 1991, Marco Dorigo (Dorigo,
                            1991) propone su tesis doctoral el método Ant System. A partir de este hecho, se
                            sucedieron numerosas publicaciones sobre los algoritmos de colonia hormigas por
                            varios investigadores como Stützle, Bonabeau, Gambardella, Maniezzo y Colorni.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}