{% extends "/base.html" %}
{% block titile %} HomePage {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card border-dark">
                    <div class="card-header bg-dark">
                        <h1 class="card-title text-center text-white">
                            INTRODUCCIÓN A LA METAHEURÍSTICA ACO.
                        </h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-dark text-justify">
                            En los últimos años, se ha venido desarrollando una nueva técnica metaheurística de
                            inspiración biológica que se basa en el comportamiento real de las hormigas
                            naturales para la resolución de problemas de optimización combinatoria. Esto es debido
                            a que, por desgracia, los algoritmos de búsqueda local presentan facilidad para
                            estancarse en óptimos locales, que globalmente no son buenas soluciones.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}