{% extends "/base.html" %}
{% block titile %} Algoritmos {% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="card-title text-center ">Ruleta</h1>

        <p class="text-dark text-justify">
          Propuesto por DeJong, es posiblemente el método más utilizado desde los orígenes de los Algoritmos Genéticos [Blickle and Thiele, 1995].
         </p>
         <p class=" text-dark text-justify">
          A cada uno de los individuos de la población se le asigna una parte proporcional a su ajuste de una ruleta, de tal forma que la suma de todos los porcentajes sea la unidad. Los mejores individuos recibirán una porción de la ruleta mayor que la recibida por los peores. Generalmente la población está ordenada en base al ajuste por lo que las porciones más grandes se encuentran al inicio de la ruleta.
          Para seleccionar un individuo basta con generar un número aleatorio del intervalo [0..1] y devolver el individuo situado en esa posición de la ruleta. Esta posición se suele obtener recorriendo los individuos de la población y acumulando sus proporciones de ruleta hasta que la suma exceda el valor obtenido.
          Es un método muy sencillo, pero ineficiente a medida que aumenta el tamaño de la población (su complejidad es <img src="http://sabia.tic.udc.es/mgestal/cv/AAGGtutorial/img9.gif" alt="">. Presenta además el inconveniente de que el peor individuo puede ser seleccionado más de una vez.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}