{% extends "/base.html" %}
{% block titile %} HomePage {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-6">
                        <h1 class="card-title text-center">Cruce</h1>
                  
                        <p class="card-text text-dark text-justify">
                            Una vez seleccionados los individuos, éstos son recombinados 
                            para producir la descendencia que se insertará en la siguiente 
                            generación. Tal y como se ha indicado anteriormente el cruce es 
                            una estrategia de reproducción sexual.
                        </p>
                        <p class="card-text text-dark text-justify">
                            Su importancia para la transición entre generaciones es elevada 
                            puesto que las tasas de cruce con las que se suele trabajar rondan el 90%.
                        </p>

            </div>
            <div class="col-6">
                <div class="container mt-5">
                    <div class="row">
                      <div class="col">
                        <div class="card text-center mt-2" style="width: auto">
                          <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/tU2gYRd2lSQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              </div>
                         </div>
                       </div>
                      </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-12">
                <p class="text-dark text-justify">
                    Los diferentes métodos de cruce podrán operar de dos formas diferentes. 
                    Si se opta por una estrategia destructiva los descendientes se insertarán 
                    en la población temporal aunque sus padres tengan mejor ajuste (trabajando 
                    con una única población esta comparación se realizará con los individuos a reemplazar). 
                    Por el contrario utilizando una estrategia no destructiva la descendencia pasará a la 
                    siguiente generación únicamente si supera la bondad del ajuste de los padres (o de los 
                    individuos a reemplazar). 
                </p>
                    
            </div>
            
            <div class="col-4">
                <p class="text-dark text-justify">
                    La idea principal del cruce se basa en que, si se toman dos 
                individuos correctamente adaptados al medio y se obtiene una descendencia que comparta 
                genes de ambos, existe la posibilidad de que los genes heredados sean precisamente los 
                causantes de la bondad de los padres. 
                </p>
            </div>
            <div class="col-8">
                <img src="https://github.com/rafaelsanchezbaez/primerrepositorio/blob/master/Dise%C3%B1o%20sin%20t%C3%ADtulo%20(2).gif?raw=true" class="img-fluid" alt="...">
            </div>
            <div class="col-12">
                <p class="text-dark text-justify" >
                Al compartir las características buenas de dos 
                individuos, la descendencia, o al menos parte de ella, debería tener una bondad mayor 
                que cada uno de los padres por separado. Si el cruce no agrupa las mejores características 
                en uno de los hijos y la descendencia tiene un peor ajuste que los padres no significa que 
                se esté dando un paso atrás. Optando por una estrategia de cruce no destructiva garantizamos 
                que pasen a la siguiente generación los mejores individuos. Si, aún con un ajuste peor, se opta 
                por insertar a la descendencia, y puesto que los genes de los padres continuarán en la población
                aunque dispersos y posiblemente levemente modificados por la mutación en posteriores cruces se 
                podrán volver a obtener estos padres, recuperando así la bondad previamente perdida.
                </p>
            </div>
        </div>
       
    </div>
</div>
{% endblock %}


