{% extends "/base.html" %}
{% block titile %} HomePage {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">
                    Ejercicios con algoritmos genéticos
                </h1>
                <h3 class="text-dark text-justify">
                    Ejercicio 1. Cuadro mágico.

                </h3>
                <p class="text-dark text-justify">
                    Se pretende implementar un algoritmo genético para resolver cuadros mágicos de tamaño NxN.
                    Dada una matriz de tamaño N x N el problema consiste en ubicar los números del 1 al N2 tal que las sumas en horizontal, vertical y diagonales principales sumen un determinado número mágico. Este número se obtiene a partir de la siguiente expresión:
                     
                </p>
                <p class="text-dark text-center">
                    <img src="https://github.com/rafaelsanchezbaez/primerrepositorio/blob/master/Formula%20magica.png?raw=true" alt="">
                </p>
                <p class="text-dark text-justify">
                    Por ejemplo, si N=4, el tamaño del cuadrado mágico sera 4x4=16, con lo que los números a ubicar en el cuadro 
                    serán los números enteros entre el 1 y el 16 (ambos inclusive) y el número mágico a obtener en las sumas horizontales, verticales y diagonales sera (64 + 4)/ 2 = 34. Una solución válida para este ejemplo sería:
                </p>
                <p class="text-dark text-center">
                    <img src="https://github.com/rafaelsanchezbaez/primerrepositorio/blob/master/Matriz%20magica.png?raw=true" alt="">
                </p>
                
            </div>
            <div class="col-12">
                <h3 class="text-dark text-justify">
                    Ejercicio 2. 
                </h3>
                <p class="text-dark text-justify">
                    Objetivo: practicar algoritmos genéticos para decodificar mensajes secretos. 
                    Descripción; Un mensaje consiste de letras y espacios codificados, una letra puede ser cambiada aleatoriamente por otra, por ejemplo, las d’s pueden ser cambiadas por c’s y los espacios cambiados a’s. si el mensaje 
                    usa S símbolos, entonces hay S posibles códigos. El costo se obtiene mediante la diferencia absoluta de la palabra original menos la palabra encontrada (adivinada) y es expresado de la siguiente manera. 
                </p>
                <p class="text-dark text-center">
                    <img src="https://github.com/rafaelsanchezbaez/primerrepositorio/blob/master/costo.png?raw=true" alt="">
                </p>
                <p class="text-dark text-center">
                    Ejemplo del progreso del GA
                </p>
                <p class="text-dark text-center">
                    <img src="https://github.com/rafaelsanchezbaez/primerrepositorio/blob/master/progreso%20del%20GA.png?raw=true" alt="">
                </p>
            </div>
            <div class="col-12">
                <h3 class="text-dark text-justify">
                    Ejercicio 3. 
                </h3>
                <p class="text-dark text-justify">
                    Objetivo: Practicar algoritmos genéticos para resolución de problema de minimización de costos. 
                </p>
                <p class="text-dark text-justify">
                    Descripción: Encontrar el recorrido más barato que nos permita viajar de una ciudad a otra.
                </p>
            </div>
            <div class="col-6">
                <p class="text-dark text-justify">
                    Descripción del problema.
                    A lo largo de un río existe n ciudades.
                    <ul class="text-dark text-justify">
                        <li>
                            <p2 class="text-dark text-justify">
                                Las ciudades se encuentran comunicadas por barco.
                            </p2>
                        </li>
                        <li>
                            <p2 class="text-dark text-justify">
                                No todas las ciudades están conectadas entre sí.
                            </p2>
                        </li>
                        <li>
                            <p2 class="text-dark text-justify">
                                El precio del trayecto entre cada dos ciudades es diferente.
                            </p2>
                        </li>
                        <li>
                            <p2 class="text-dark text-justify">
                                Los precios de los trayectos se representan mediante una matriz de precios.
                            </p2>
                        </li>
                        <li>
                            <p2 class="text-dark text-justify">
                                Se trata de encontrar el itinerario más barato que une la primera ciudad con la última.
                            </p2>
                        </li>
                        <li>
                            <p2 class="text-dark text-justify">
                                Solo importa el precio total del itinerario, no el número de ciudades que se visiten.
                            </p2>
                        </li>
                    </ul>
             </p>
             
            </div>
            <div class="col-6 mt-4">
                    <img class="img-fluid" src="https://github.com/rafaelsanchezbaez/primerrepositorio/blob/master/Ciudad%200.gif?raw=true" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}
<p class="text-dark text-justify">

</p>

