{% extends "/base.html" %}
{% block titile %} HomePage {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card border-dark">
                    <div class="card-header bg-dark text-white">
                        <h1 class="card-title text-center">Cuestionario de algoritmos geneticos</h1>
                    </div>
                    <div class="card-body bg-light text-center">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdgpKNGSZrwiA1EGucs3JKyIZPDcDWpb6CScYx0F4GTc9jbkg/viewform?embedded=true" width="640" height="1794" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}